# Exploratory Data Analysis - Carga Horaria
Carga horária dos servidores

#### Imports

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from unidecode import unidecode

pd.set_option('display.max_columns', None)

## Carregar dados

In [2]:
PATH = '../data/raw'

### Dados da carga horária do servidor

In [3]:
# Remocao manual no arquivo "BASE_CARGA_HOR_SALA_AULA_0818_anonimizado.csv", o cabecalho estava repitido no meio do dataset. Esta linha repetida foi removida
df_carga_horaria = pd.read_csv(os.path.join(PATH, 'BASE_CARGA_HOR_SALA_AULA_0818_anonimizado.csv'), sep=';', encoding='latin-1', low_memory=False)
print(df_carga_horaria.shape)
df_carga_horaria.head()

(572022, 29)

,REGIAO,NOMEDE,CD_INEP,CODESC,CATESC,TPESC,UA,NOMEESC,NM_MUNICIPIO,MODAL,NOME,RG12,DI,CPF,CARGO_C,NM_CARGOC,CODMAE,DEN_CODMAE,CICLO,MATERIA,DEN_MATERIA,TOT_AULA_LIVRE,TOT_AULA_SUBST,TOT_GERAL_AULA,TOT_AULA_LIVRE_NOTURNO,TOT_AULA_SUBST_NOTURNO,TOT_AULAS_NOTURNO,JORNADA,id_interno
0,INTERIOR,D.E.REG. ANDRADINA,35029373,29373,1,8,44370,ALVARO GUIAO DR,ANDRADINA,EF FINAIS + EM,148226,148226,1,148226,6409,PROFESSOR EDUCACAO BASICA II,2800,QUIMICA,EM,2800,QUIMICA,2,0,2,2,0,2,,148226
1,INTERIOR,D.E.REG. ANDRADINA,35029373,29373,1,8,44370,ALVARO GUIAO DR,ANDRADINA,EF FINAIS + EM,148226,148226,1,148226,6409,PROFESSOR EDUCACAO BASICA II,2600,FISICA,EM,2600,FISICA,2,0,2,2,0,2,,148226
2,INTERIOR,D.E.REG. ANDRADINA,35029373,29373,1,8,44370,ALVARO GUIAO DR,ANDRADINA,EF FINAIS + EM,148226,148226,1,148226,6409,PROFESSOR EDUCACAO BASICA II,2700,MATEMATICA,EM,2700,MATEMATICA,20,0,20,0,0,0,,148226
3,INTERIOR,D.E.REG. ANDRADINA,35029373,29373,1,8,44370,ALVARO GUIAO DR,ANDRADINA,EF FINAIS + EM,148226,148226,1,148226,6409,PROFESSOR EDUCACAO BASICA II,2800,QUIMICA,EM,2812,QUIM EJA,2,0,2,2,0,2,,148226
4,CAPITAL,D.E.REG. SUL 3,35908848,908848,1,8,76735,JOSE DUARTE JUNIOR PROFESSOR,SAO PAULO,EF INICIAIS + FINAIS,133634,133634,1,133634,6409,PROFESSOR EDUCACAO BASICA II,2500,CIEN.FIS.BIO,CII,2500,CIEN.FIS.BIO,12,0,12,0,0,0,I,133634

### Dados dos Servidores ativos

In [4]:
df_servidores = pd.read_csv(os.path.join(PATH, 'BASE_SERVIDORES_ATIVOS_1118.csv'), sep=';', encoding='latin-1', low_memory=False)
print(df_servidores.shape)
df_servidores.head()

(240465, 41)

,POLO_C,REGIAO_C,NOMEDE_C,UAC,NOMEUA_C,MUNICIPIO_C,NOME_SERVIDOR,RG,DI,CPF,RS,PV,SEXO,DATA_NASCIMENTO,IDADE,CARGO_C,NOMECAR_C,QUADRO_C,CATEG_C,DT_INICIO_EXERCICIO_C,ANOS_TRAB_CARGO_C,DISC_CONCURSO,DTI_INICIO_AFAS,POLO_E,REGIAO_E,NOMEDE_E,UA_E,LOCAL_UA,NOMEUA_E,MUNICIPIO_E,CARGO_E,NOMECAR_E,QUADRO_E,CATEG_E,DATA_INICIO_EXERCICIO_E,QTDE_ATS,EMAIL,JORNADA,TIPO_DEF,ID_COR,id_interno
0,POLO 10,INTERIOR,D.E.REG. ITU,41998,EE CESARIO MOTTA-DR.,ITU,247578.0,247578.0,1.0,247578.0,247578.0,7,M,16/01/1986,32.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,01/02/2013,5.0,2200.0,NaN,POLO 10,INTERIOR,D.E.REG. ITU,41998.0,UE,EE CESARIO MOTTA-DR.,ITU,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,01/02/2013,1.0,247578,B,NaN,P,247578.0
1,POLO 10,INTERIOR,D.E.REG. ITU,41998,EE CESARIO MOTTA-DR.,ITU,301407.0,301407.0,1.0,301407.0,301407.0,2,F,27/04/1971,47.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,12/02/2003,15.0,NaN,NaN,POLO 10,INTERIOR,D.E.REG. ITU,41998.0,UE,EE CESARIO MOTTA-DR.,ITU,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,12/02/2003,4.0,301407,,NaN,B,301407.0
2,POLO 04,GDE_SP,D.E.REG. GUARULHOS NORTE,40377,EE JUVENAL RAMOS BARBOSA,GUARULHOS,351824.0,351824.0,2.0,351824.0,351824.0,4,F,12/01/1965,53.0,6200.0,DIRETOR DE ESCOLA,QM,A,16/02/2009,9.0,0.0,NaN,POLO 01,CAPITAL,D.E.REG. NORTE 2,23850.0,DE,D.E.REG. NORTE 2,SAO PAULO,6444.0,SUPERVISOR DE ENSINO,QM,D,06/04/2016,3.0,351824,,NaN,B,351824.0
3,POLO 06,GDE_SP,D.E.REG. OSASCO,41366,EE BENEDICTO CALDEIRA-PROF.,OSASCO,152209.0,152209.0,2.0,152209.0,152209.0,3,F,24/04/1962,56.0,6200.0,DIRETOR DE ESCOLA,QM,A,10/01/2003,15.0,NaN,NaN,POLO 06,GDE_SP,D.E.REG. OSASCO,39632.0,DE,D.E.REG. OSASCO,OSASCO,6444.0,SUPERVISOR DE ENSINO,QM,D,06/09/2011,5.0,152209,,NaN,P,152209.0
4,POLO 06,GDE_SP,D.E.REG. ITAPEVI,22716,EE JOSEPHA PINTO CHIAVELLI-PFA,JANDIRA,235897.0,235897.0,1.0,235897.0,235897.0,4,F,13/03/1971,47.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/02/2000,18.0,1100.0,NaN,POLO 06,GDE_SP,D.E.REG. ITAPEVI,22716.0,UE,EE JOSEPHA PINTO CHIAVELLI-PFA,JANDIRA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/02/2000,5.0,235897,R,NaN,B,235897.0

### Filtrar apenas dados referentes aos professores

In [5]:
df_servidores = df_servidores[df_servidores['NOMECAR_E'].str.contains('PROFESSOR', na=False)]

### Dados da formação do servidor

In [6]:
df_formacao = pd.read_csv(os.path.join(PATH, 'BASE_FORMACAO_1118.csv'), sep=';', encoding='latin-1')
print(df_formacao.shape)
df_formacao.head()

(240465, 21)

,REGIAO_EXERC,DE_EXERC,CIE_ESCOLA,UA_EXERC,NOME_UA_EXERC,MUNICIPIO_EXERC,RG12,DI,CPF,NOME,QUADRO_C,CARGO_C,NM_CARGO_C,CATEG_C,DTIEXER_C,QUADRO_E,CARGO_E,NMCARGO_E,CATEG_E,FORMACAO,id_interno
0,INTERIOR,D.E.REG. RIBEIRAO PRETO,911306,79305,EE ROSANGELA BASILE-PROFA.,RIBEIRAO PRETO,164234.0,1.0,164234.0,164234.0,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,01/06/2016,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,LICENCIATURA,164234.0
1,INTERIOR,D.E.REG. RIBEIRAO PRETO,911306,79305,EE ROSANGELA BASILE-PROFA.,RIBEIRAO PRETO,382145.0,1.0,382145.0,382145.0,QM,6407.0,PROFESSOR EDUCACAO BASICA I,A,08/02/1993,QM,6407.0,PROFESSOR EDUCACAO BASICA I,A,LICENCIATURA + BACHARELADO/TECNÌÒLOGO + ESPECI...,382145.0
2,INTERIOR,D.E.REG. RIBEIRAO PRETO,911306,79305,EE ROSANGELA BASILE-PROFA.,RIBEIRAO PRETO,345349.0,1.0,345349.0,345349.0,QM,6407.0,PROFESSOR EDUCACAO BASICA I,A,18/08/1994,QM,6407.0,PROFESSOR EDUCACAO BASICA I,A,LICENCIATURA + ESPECIALIZAÌàÌÄO,345349.0
3,INTERIOR,D.E.REG. RIBEIRAO PRETO,911306,79305,EE ROSANGELA BASILE-PROFA.,RIBEIRAO PRETO,290900.0,1.0,290900.0,290900.0,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,03/04/2017,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,LICENCIATURA,290900.0
4,INTERIOR,D.E.REG. RIBEIRAO PRETO,911306,79305,EE ROSANGELA BASILE-PROFA.,RIBEIRAO PRETO,316060.0,1.0,316060.0,316060.0,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,04/06/2018,QM,6407.0,PROFESSOR EDUCACAO BASICA I,O,LICENCIATURA,316060.0

## Agregação por Servidor

### Quantidade de disciplinas

In [7]:
qtd_disciplinas_prof_esc = df_carga_horaria.groupby(['CPF', 'CODESC']).size()
qtd_disciplinas_prof_esc.name = 'QTD_DISCIPLINAS'
qtd_disciplinas_prof_esc = qtd_disciplinas_prof_esc.reset_index()

### Total de aulas

In [8]:
total_aulas = df_carga_horaria.groupby(['CPF', 'CODESC'])['TOT_GERAL_AULA'].sum()
total_aulas.name = 'QTD_TOTAL_AULAS'
total_aulas = total_aulas.reset_index()

### Juntar características

In [9]:
df_features_cpf_esc = pd.merge(qtd_disciplinas_prof_esc, total_aulas, on=['CPF', 'CODESC'])

In [10]:
df_features_cpf_esc.shape

(180089, 4)

In [11]:
df_jornada_features = df_features_cpf_esc.drop('CPF', axis=1).groupby('CODESC').agg(['mean', 'max'])
df_jornada_features.columns = ['JORNADA_' + c[0] + '_' + c[1] for c in df_jornada_features.columns]
df_jornada_features.reset_index(inplace=True)
df_jornada_features.fillna(0, inplace=True)
df_jornada_features.head()

,CODESC,JORNADA_QTD_DISCIPLINAS_mean,JORNADA_QTD_DISCIPLINAS_max,JORNADA_QTD_TOTAL_AULAS_mean,JORNADA_QTD_TOTAL_AULAS_max
0,24,3.486726,10,48.849558,108
1,36,2.975000,8,46.525000,104
2,48,2.125000,4,44.375000,64
3,59,2.150000,4,42.500000,98
4,61,2.488889,4,48.755556,64

### Junção da base de servidores com Carga Horária para obter a escola
Seguindo as instruções de https://dados.educacao.sp.gov.br/sites/all/themes/DataSEE-Theme/assets/images/editais/DesafiosNotaTecnica.pdf

In [12]:
df_servidores[['CPF', 'UAC', 'UA_E', 'IDADE', 'ANOS_TRAB_CARGO_C', 'QTDE_ATS']]

             CPF    UAC     UA_E  IDADE  ANOS_TRAB_CARGO_C  QTDE_ATS
0       247578.0  41998  41998.0   32.0                5.0       1.0
1       301407.0  41998  41998.0   47.0               15.0       4.0
4       235897.0  22716  22716.0   47.0               18.0       5.0
5       303142.0  22716  22716.0   36.0                1.0       0.0
6       235765.0  22716  22716.0   41.0               12.0       1.0
...          ...    ...      ...    ...                ...       ...
240460  240002.0  41999  41999.0   32.0                6.0       1.0
240461  231469.0  41999  41999.0   43.0                1.0       1.0
240462  132254.0  41999  41999.0   51.0                7.0       2.0
240463  200203.0  42080  42080.0   43.0               18.0       4.0
240464  181853.0  42080  42080.0   48.0               24.0       4.0

[190390 rows x 6 columns]

In [13]:
df_servidores_escola = pd.merge(df_carga_horaria[['CPF', 'UA', 'DI', 'CODESC']], df_servidores, left_on=['CPF', 'UA', 'DI'], right_on=['CPF', 'UA_E', 'DI'], how='inner')

In [14]:
df_servidores_escola.head()

,CPF,UA,DI,CODESC,POLO_C,REGIAO_C,NOMEDE_C,UAC,NOMEUA_C,MUNICIPIO_C,NOME_SERVIDOR,RG,RS,PV,SEXO,DATA_NASCIMENTO,IDADE,CARGO_C,NOMECAR_C,QUADRO_C,CATEG_C,DT_INICIO_EXERCICIO_C,ANOS_TRAB_CARGO_C,DISC_CONCURSO,DTI_INICIO_AFAS,POLO_E,REGIAO_E,NOMEDE_E,UA_E,LOCAL_UA,NOMEUA_E,MUNICIPIO_E,CARGO_E,NOMECAR_E,QUADRO_E,CATEG_E,DATA_INICIO_EXERCICIO_E,QTDE_ATS,EMAIL,JORNADA,TIPO_DEF,ID_COR,id_interno
0,148226,44370,1,29373,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370,EE ALVARO GUIAO-DR.,ANDRADINA,148226.0,148226.0,9334518.0,4,M,08/02/1974,44.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,20.0,NaN,NaN,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370.0,UE,EE ALVARO GUIAO-DR.,ANDRADINA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,4.0,fabianogasparelli@hotmail.com,,NaN,B,148226.0
1,148226,44370,1,29373,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370,EE ALVARO GUIAO-DR.,ANDRADINA,148226.0,148226.0,9334518.0,4,M,08/02/1974,44.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,20.0,NaN,NaN,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370.0,UE,EE ALVARO GUIAO-DR.,ANDRADINA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,4.0,fabianogasparelli@hotmail.com,,NaN,B,148226.0
2,148226,44370,1,29373,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370,EE ALVARO GUIAO-DR.,ANDRADINA,148226.0,148226.0,9334518.0,4,M,08/02/1974,44.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,20.0,NaN,NaN,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370.0,UE,EE ALVARO GUIAO-DR.,ANDRADINA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,4.0,fabianogasparelli@hotmail.com,,NaN,B,148226.0
3,148226,44370,1,29373,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370,EE ALVARO GUIAO-DR.,ANDRADINA,148226.0,148226.0,9334518.0,4,M,08/02/1974,44.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,20.0,NaN,NaN,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370.0,UE,EE ALVARO GUIAO-DR.,ANDRADINA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,4.0,fabianogasparelli@hotmail.com,,NaN,B,148226.0
4,148226,44370,1,29373,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370,EE ALVARO GUIAO-DR.,ANDRADINA,148226.0,148226.0,9334518.0,4,M,08/02/1974,44.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,20.0,NaN,NaN,POLO 07,INTERIOR,D.E.REG. ANDRADINA,44370.0,UE,EE ALVARO GUIAO-DR.,ANDRADINA,6409.0,PROFESSOR EDUCACAO BASICA II,QM,F,01/04/1998,4.0,fabianogasparelli@hotmail.com,,NaN,B,148226.0

### Agregar por escola e computar características dos servidores

#### Idade

In [15]:
df_features_idade = df_servidores_escola.groupby(['CODESC'])['IDADE'].agg(['mean'])
df_features_idade.columns = 'SERVIDORES_IDADE_' + df_features_idade.columns

#### Tempo no cargo de classificação

In [16]:
df_features_tempo_cargo = df_servidores_escola.groupby(['CODESC'])['ANOS_TRAB_CARGO_C'].agg(['mean'])
df_features_tempo_cargo.columns = 'SERVIDORES_TEMPO_CARGO_C_' + df_features_tempo_cargo.columns

#### Categoria funcional

#### Distribuição

In [17]:
df_servidores_escola['CATEG_C'].value_counts(normalize=True)

A    0.629742
F    0.188790
O    0.181216
P    0.000243
N    0.000009
Name: CATEG_C, dtype: float64

#### Professores com categoria funcional diferente dentro da rede estadual
- Categoria funcional A: Docentes que ingressaram na Rede por meio de concurso público
- Categoria funcional O: Docentes que possuem vínculo temporário e excepcional com a Secretaria da Educação

In [18]:
df_servidores_escola[df_servidores_escola['CATEG_E'].isin(['A', 'O'])].groupby('CPF')['CATEG_E'].nunique().where(lambda x: x>1).dropna()

CPF
131840    2.0
131862    2.0
132084    2.0
132130    2.0
132539    2.0
         ...
363379    2.0
364717    2.0
366099    2.0
373324    2.0
382653    2.0
Name: CATEG_E, Length: 610, dtype: float64

In [19]:
df_servidores_escola[df_servidores_escola['CPF'] == 154669]

,CPF,UA,DI,CODESC,POLO_C,REGIAO_C,NOMEDE_C,UAC,NOMEUA_C,MUNICIPIO_C,NOME_SERVIDOR,RG,RS,PV,SEXO,DATA_NASCIMENTO,IDADE,CARGO_C,NOMECAR_C,QUADRO_C,CATEG_C,DT_INICIO_EXERCICIO_C,ANOS_TRAB_CARGO_C,DISC_CONCURSO,DTI_INICIO_AFAS,POLO_E,REGIAO_E,NOMEDE_E,UA_E,LOCAL_UA,NOMEUA_E,MUNICIPIO_E,CARGO_E,NOMECAR_E,QUADRO_E,CATEG_E,DATA_INICIO_EXERCICIO_E,QTDE_ATS,EMAIL,JORNADA,TIPO_DEF,ID_COR,id_interno
19408,154669,40994,1,7377,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994,EE JOSE ARTIGAS-GENERAL,DIADEMA,154669.0,154669.0,15891586.0,2,F,01/05/1961,57.0,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,3.0,NaN,NaN,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994.0,UE,EE JOSE ARTIGAS-GENERAL,DIADEMA,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,NaN,suelifranna@yahoo.com.br,,NaN,B,154669.0
19409,154669,40994,1,7377,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994,EE JOSE ARTIGAS-GENERAL,DIADEMA,154669.0,154669.0,15891586.0,2,F,01/05/1961,57.0,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,3.0,NaN,NaN,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994.0,UE,EE JOSE ARTIGAS-GENERAL,DIADEMA,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,NaN,suelifranna@yahoo.com.br,,NaN,B,154669.0
19410,154669,40994,1,7377,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994,EE JOSE ARTIGAS-GENERAL,DIADEMA,154669.0,154669.0,15891586.0,2,F,01/05/1961,57.0,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,3.0,NaN,NaN,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994.0,UE,EE JOSE ARTIGAS-GENERAL,DIADEMA,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,NaN,suelifranna@yahoo.com.br,,NaN,B,154669.0
19411,154669,40994,1,7377,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994,EE JOSE ARTIGAS-GENERAL,DIADEMA,154669.0,154669.0,15891586.0,2,F,01/05/1961,57.0,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,3.0,NaN,NaN,POLO 05,GDE_SP,D.E.REG. DIADEMA,40994.0,UE,EE JOSE ARTIGAS-GENERAL,DIADEMA,6407.0,PROFESSOR EDUCACAO BASICA I,QM,O,30/04/2015,NaN,suelifranna@yahoo.com.br,,NaN,B,154669.0
265638,154669,41140,2,9210,POLO 05,GDE_SP,D.E.REG. SAO BERNARDO DO CAMPO,41140,EE MARIA IRACEMA MUNHOZ,SAO BERNARDO DO CAMPO,154669.0,154669.0,154669.0,3,F,01/05/1961,57.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/03/2017,1.0,2100.0,NaN,POLO 05,GDE_SP,D.E.REG. SAO BERNARDO DO CAMPO,41140.0,UE,EE MARIA IRACEMA MUNHOZ,SAO BERNARDO DO CAMPO,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/03/2017,0.0,154669,I,NaN,B,154669.0
265639,154669,41140,2,9210,POLO 05,GDE_SP,D.E.REG. SAO BERNARDO DO CAMPO,41140,EE MARIA IRACEMA MUNHOZ,SAO BERNARDO DO CAMPO,154669.0,154669.0,154669.0,3,F,01/05/1961,57.0,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/03/2017,1.0,2100.0,NaN,POLO 05,GDE_SP,D.E.REG. SAO BERNARDO DO CAMPO,41140.0,UE,EE MARIA IRACEMA MUNHOZ,SAO BERNARDO DO CAMPO,6409.0,PROFESSOR EDUCACAO BASICA II,QM,A,07/03/2017,0.0,154669,I,NaN,B,154669.0

### Agregação por escola e construção dos atributos

In [20]:
df_features_cat_funcional = df_servidores_escola.groupby(['CODESC'])['CATEG_E'].value_counts(normalize=True).unstack().fillna(0)
df_features_cat_funcional.columns = 'SERVIDORES_CAT_FUNCIONAL_' + df_features_cat_funcional.columns

In [21]:
df_features_servidores = pd.concat([df_features_idade, df_features_tempo_cargo, df_features_cat_funcional], axis=1)
df_features_servidores.reset_index(inplace=True)
df_features_servidores.head()

,CODESC,SERVIDORES_IDADE_mean,SERVIDORES_TEMPO_CARGO_C_mean,SERVIDORES_CAT_FUNCIONAL_A,SERVIDORES_CAT_FUNCIONAL_F,SERVIDORES_CAT_FUNCIONAL_N,SERVIDORES_CAT_FUNCIONAL_O,SERVIDORES_CAT_FUNCIONAL_P
0,24,47.024096,10.819277,0.789157,0.144578,0.0,0.066265,0.0
1,36,45.460784,8.598039,0.754902,0.176471,0.0,0.068627,0.0
2,48,45.744681,9.361702,0.851064,0.106383,0.0,0.042553,0.0
3,59,42.972973,7.810811,0.783784,0.135135,0.0,0.081081,0.0
4,61,47.955556,11.400000,0.600000,0.155556,0.0,0.244444,0.0

### Junção dos dados

In [22]:
df_features = pd.merge(df_jornada_features, df_features_servidores, on='CODESC', how='inner')
print(df_features.shape)
df_features.head()

(5369, 12)

,CODESC,JORNADA_QTD_DISCIPLINAS_mean,JORNADA_QTD_DISCIPLINAS_max,JORNADA_QTD_TOTAL_AULAS_mean,JORNADA_QTD_TOTAL_AULAS_max,SERVIDORES_IDADE_mean,SERVIDORES_TEMPO_CARGO_C_mean,SERVIDORES_CAT_FUNCIONAL_A,SERVIDORES_CAT_FUNCIONAL_F,SERVIDORES_CAT_FUNCIONAL_N,SERVIDORES_CAT_FUNCIONAL_O,SERVIDORES_CAT_FUNCIONAL_P
0,24,3.486726,10,48.849558,108,47.024096,10.819277,0.789157,0.144578,0.0,0.066265,0.0
1,36,2.975000,8,46.525000,104,45.460784,8.598039,0.754902,0.176471,0.0,0.068627,0.0
2,48,2.125000,4,44.375000,64,45.744681,9.361702,0.851064,0.106383,0.0,0.042553,0.0
3,59,2.150000,4,42.500000,98,42.972973,7.810811,0.783784,0.135135,0.0,0.081081,0.0
4,61,2.488889,4,48.755556,64,47.955556,11.400000,0.600000,0.155556,0.0,0.244444,0.0

## Exportar dados

In [23]:
df_features.to_csv('../data/processed/jornada.csv', index=False)